.description{
    padding: 100px 0;

}
.description__row{
    display: flex;
    column-gap: 70px;
}
.description__item{
    text-align: center;
}
.description__item-img{
    width: 100px;
    margin-bottom: 15px;
}
.description__item-title{
    margin-bottom: 10px;
    font-size: 18px;
    font-family: $font-secondary;
    font-weight: 300;
}
.description__item-text{
    font-size: 12px;
    line-height: 1.1;
    font-family: $font-secondary;
    font-weight: 300;
}