.experience {
    position: relative;

    // &::before {
    //     content: "";
    //     right: calc(50% + 555px);
    //     transform: translate(50%, 0%);
    //     // @include decorNumber;
    // }
}

.experience__title{
    margin-bottom: 50px;

    // @include mediaTablet {
    //     margin-bottom: 44px;
    // }
}

.experience__cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    // @include mediaTablet {
    //     grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    // }
}