.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 20px;
    padding-bottom: 50px;

    min-height: 640px;
    background: linear-gradient(
        180deg, #242B33 11.98%,
        rgba(45, 52, 60, 0.38) 51.04%,
        #242B33 92.19%
    ),
    url('./../img/header/header-bg.jpg');
}
.header__top-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__top-logo{
    width: 100px;
}
.header__title{
    text-align: center;
    color: $accent;
    font-size: 48px;
    font-family: $font-accent;
    font-weight: 700;
}
.header__title-text{
    text-align: left;
    text-indent: 25px;
    color: $accent;
    font-size: 16px;
    font-family: $font-accent;
    font-weight: 700;
}
.header__bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}